* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100dvh;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: white;
  max-width: 30ch;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

button {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border: 0;
  border-radius: 0.3rem;
  background-color: hsl(240, 96%, 72%);
  color: white;
  font-size: 1rem;
  transition: background-color 200ms ease-in-out;
}

button:hover {
  background-color: hsl(240, 96%, 62%);
  cursor: pointer;
}
